# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log
/.conda
/public
# Build directory
/build
.DS_Store
.sass-cache/
_posts/
_site/
db.csv
danpalmer.sql

.mypy_cache

/.vscode
.idea

config.yaml
